"*":
  "agda-mode":
    agdaPath: "~/.cabal/bin/agda"
  "atom-material-ui":
    colors:
      abaseColor: "#7c055f"
      accentColor: "#f7a879"
      predefinedColor: "Pink"
    tabs:
      compactTabs: true
      stretchedTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-package-deps":
    ignored: [
      "linter"
    ]
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  autosave: {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
      "hydrogen-launcher"
      "tasks"
      "org-mode"
      "autosave"
      "organized"
      "Hydrogen"
    ]
    packagesWithKeymapsDisabled: [
      "latex"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-light"
    ]
  editor:
    fontSize: 15
    invisibles:
      cr: false
      eol: false
      space: false
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "b1af2ff9-42af-4341-927b-aa755097dea9"
  fonts:
    fontFamily: "DaddyTimeMono"
  latex:
    opener: "pdf-view"
  "markdown-preview-plus":
    markdownItConfig: {}
    mathConfig:
      enableLatexRenderingByDefault: true
    pandocConfig:
      pandocArguments: [
        "--smart"
      ]
      pandocBibliography: true
      pandocRemoveReferences: false
    previewConfig:
      activatePreviewWithEditor: true
    renderer: "pandoc"
    syncConfig:
      syncPreviewOnChange: true
      syncPreviewOnEditorScroll: true
    syntaxThemeName: "atom-dark-syntax"
  minimap:
    absoluteMode: true
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
    scrollAnimation: true
  "one-dark-ui": {}
  organized:
    enableToolbarSupport: false
  "pdf-view":
    fitToWidthOnOpen: true
    reverseSyncBehaviour: "Double click"
  "seti-syntax":
    themeColor: "Pink"
  "seti-ui":
    hideProjectTab: true
    themeColor: "Pink"
  "spell-check":
    addKnownWords: true
    knownWords: [
      "Halpern"
      "homotopy"
      "PLDG"
      "frisbee"
      "pomodoro"
      "Where'd"
      "todo"
      "linearization"
      "Fibrations"
      "groupoids"
      "typecheck"
      "embeddings"
      "morphism"
      "posets"
      "categorification"
      "morphisms"
      "bifibrant"
      "naturality"
      "functoriality"
      "topos"
      "abelianization"
      "subobject"
      "functors"
      "subobjects"
      "interlingua"
      "simplicial"
      "gamification"
      "categorified"
      "hoc"
      "maximizers"
      "LaTeX"
      "JetBrains"
      "TeX."
      "TeX"
      "cson"
    ]
  tabs:
    enableMruTabSwitching: false
  tasks: {}
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
".plain.simple.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: false
