"*":
  Hydrogen:
    centerOnMoveDown: true
    languageMappings: "{ \"python\": \"python3\" }"
    showInspectorResultsInAutocomplete: true
    wrapOutput: true
  "agda-mode":
    agdaPath: "~/.cabal/bin/agda"
  "atom-latex":
    bibtex: "biber"
    build_after_save: false
    custom_toolchain: "%TEX %ARG %DOC && %TEX %ARG %DOC"
    hide_log_if_success: true
    latexmk_param: "-synctex=1 -interaction=nonstopmode -file-line-error -pdf -shell-escape"
    save_on_build: true
  "atom-material-ui":
    colors:
      abaseColor: "#7c055f"
      accentColor: "#f7a879"
      predefinedColor: "Pink"
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
      useAnimations: false
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  autosave: {}
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
      "tasks"
      "autosave"
      "organized"
      "Hydrogen"
      "minimap"
      "minimap-find-and-replace"
      "project-manager"
    ]
    packagesWithKeymapsDisabled: [
      "latex"
      "Hydrogen"
      "split-diff"
      "python-black"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    titleBar: "hidden"
  "custom-folds":
    postfix_0: "END_FOLD"
    prefix_0: "BEGIN_FOLD"
  editor:
    invisibles:
      cr: false
      eol: false
      space: false
    preferredLineLength: 100
    scrollPastEnd: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "b1af2ff9-42af-4341-927b-aa755097dea9"
  fonts:
    fontFamily: "DaddyTimeMono"
  "grammar-token-limit":
    maxTokensPerLine: 200
  "ide-python":
    pylsPlugins:
      jedi_definition:
        follow_imports: true
      pycodestyle:
        ignore: [
          "E121"
          "E123"
          "E126"
          "E226"
          "E24"
          "E704"
          "W503"
          "E231"
          ""
        ]
    python: "python3"
  latex:
    opener: "pdf-view"
  "latex-folding": {}
  linter:
    disabledProviders: [
      "Spelling"
    ]
  "linter-mypy":
    pythonPath: "$PROJECT_PATH"
  "linter-spell": {}
  "linter-ui-default":
    panelHeight: 228
  "markdown-preview-plus":
    markdownItConfig: {}
    mathConfig:
      enableLatexRenderingByDefault: true
    pandocConfig:
      pandocArguments: [
        "--smart"
      ]
      pandocBibliography: true
      pandocRemoveReferences: false
    previewConfig:
      activatePreviewWithEditor: true
    renderer: "pandoc"
    syncConfig:
      syncPreviewOnChange: true
      syncPreviewOnEditorScroll: true
    syntaxThemeName: "atom-dark-syntax"
  minimap:
    absoluteMode: true
    displayMinimapOnLeft: true
    plugins:
      "find-and-replace": false
      "find-and-replaceDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
    scrollAnimation: true
  "one-dark-ui": {}
  organized:
    enableToolbarSupport: false
  "pdf-view":
    fitToWidthOnOpen: true
    reverseSyncBehaviour: "Double click"
  "python-black":
    fmtOnSave: false
  "scope-inspector":
    userId: "93447be4e7ba20c5ea77433f355a5265918e207c"
  "seti-syntax":
    dynamicColor: false
    themeColor: "Pink"
  "seti-ui":
    hideProjectTab: true
    themeColor: "Pink"
  "spell-check":
    addKnownWords: true
    knownWords: [
      "Halpern"
      "homotopy"
      "PLDG"
      "frisbee"
      "pomodoro"
      "Where'd"
      "todo"
      "linearization"
      "Fibrations"
      "groupoids"
      "typecheck"
      "embeddings"
      "morphism"
      "posets"
      "categorification"
      "morphisms"
      "bifibrant"
      "naturality"
      "functoriality"
      "topos"
      "abelianization"
      "subobject"
      "functors"
      "subobjects"
      "interlingua"
      "simplicial"
      "gamification"
      "categorified"
      "hoc"
      "maximizers"
      "LaTeX"
      "JetBrains"
      "TeX."
      "TeX"
      "cson"
      "PDGs"
      "ODEs"
      "Substochasticity"
      "anonymized"
      "independences"
      "Modularity"
    ]
  "split-diff":
    ignoreWhitespace: true
  tabs:
    enableMruTabSwitching: false
  tasks: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
".beamer.latex.tex.text":
  editor:
    preferredLineLength: 80
    showInvisibles: true
".bibtex.tex.text":
  editor:
    autoIndent: true
".html.text.twig":
  editor:
    tabLength: 2
".knitr.latex.tex.text":
  editor:
    preferredLineLength: 80
".latex.log.tex.text":
  editor:
    autoIndent: true
    preferredLineLength: 80
".latex.memoir.tex.text":
  editor:
    preferredLineLength: 80
".latex.plain":
  editor:
    autoIndent: true
    preferredLineLength: 80
    softWrapAtPreferredLineLength: false
".latex.tex.text":
  editor:
    autoIndent: true
    preferredLineLength: 80
    showIndentGuide: true
    showInvisibles: false
    softWrap: true
    softWrapAtPreferredLineLength: false
".latex.tex.text.tikz":
  editor:
    autoIndent: true
    preferredLineLength: 80
".plain.simple.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: false
