"*":
  Hydrogen:
    centerOnMoveDown: true
    importNotebookURI: false
    languageMappings: "{ \"python\": \"python3\" }"
    showInspectorResultsInAutocomplete: true
    startDir: "projectDirOfFile"
    wrapOutput: true
  "agda-mode":
    agdaPath: "~/.cabal/bin/agda"
  "atom-latex":
    bibtex: "biber"
    build_after_save: false
    delayed_minimap_refresh: true
    latexmk_param: "-synctex=1 -interaction=nonstopmode -file-line-error -pdf -shell-escape"
    save_on_build: true
  "atom-material-ui":
    colors:
      abaseColor: "#263171"
      accentColor: "#96841b"
      genAccent: true
      paintCursor: true
      "predefined-color": "Indigo"
      predefinedColor: "Indigo"
    tabs:
      "compact-tab-bar": false
      noTabMinWidth: true
      "tinted-tab-bar": false
      tintedTabBar: true
    ui:
      panelContrast: true
      useAnimations: false
  "atom-typescript":
    allowJS: true
    ignoredDiagnosticCodes: [
      "8002"
      "8003"
      "8004"
      "8006"
      "8008"
      "8010"
    ]
    jsSyntaxScopes: [
      "source.js"
      "source.jsx"
      "javascript"
      "source.flow"
    ]
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  autosave: {}
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
      "tasks"
      "autosave"
      "organized"
      "latex"
      "atom-ide-ui"
      "ex-mode"
      "language-matlab"
      "spell-check"
      "language-latex"
      "atom-twig"
      "minimap-split-diff"
      "minimap"
      "scope-inspector"
    ]
    packagesWithKeymapsDisabled: [
      "latex"
      "Hydrogen"
      "split-diff"
      "python-black"
    ]
    telemetryConsent: "limited"
    titleBar: "hidden"
  "custom-folds":
    postfix_0: "END_FOLD"
    prefix_0: "BEGIN_FOLD"
  editor:
    fontSize: 16
    invisibles:
      cr: false
      eol: false
      space: false
    lineHeight: 1.45
    preferredLineLength: 120
    scrollPastEnd: true
    scrollSensitivity: 70
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "b1af2ff9-42af-4341-927b-aa755097dea9"
  fonts:
    fontFamily: "DaddyTimeMono"
  "grammar-token-limit":
    maxTokensPerLine: 200
  "ide-python":
    pylsPlugins:
      jedi_definition:
        follow_imports: true
      pycodestyle:
        ignore: [
          "E121"
          "E123"
          "E126"
          "E226"
          "E24"
          "E704"
          "W503"
          "E231"
          ""
        ]
    python: "python3"
  "ide-scala": {}
  latex:
    opener: "pdf-view"
  linter:
    disabledProviders: [
      "Spelling"
    ]
  "linter-mypy":
    pythonPath: "$PROJECT_PATH"
  "linter-spell": {}
  "linter-ui-default":
    panelHeight: 300
    showPanel: true
  "markdown-preview-plus":
    markdownItConfig: {}
    mathConfig:
      enableLatexRenderingByDefault: true
      numberEquations: true
    pandocConfig:
      pandocRemoveReferences: false
    previewConfig:
      activatePreviewWithEditor: true
    renderer: "pandoc"
    syncConfig:
      syncPreviewOnChange: true
      syncPreviewOnEditorScroll: true
    syntaxThemeName: "atom-dark-syntax"
  minimap:
    absoluteMode: true
    displayMinimapOnLeft: true
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
    scrollAnimation: true
  "one-dark-ui": {}
  organized:
    enableToolbarSupport: false
  "pdf-view":
    fitToWidthOnOpen: true
    reverseSyncBehaviour: "Double click"
  "python-black":
    fmtOnSave: false
  "scope-inspector":
    userId: "93447be4e7ba20c5ea77433f355a5265918e207c"
  "seti-syntax":
    dynamicColor: false
    themeColor: "Pink"
  "seti-ui":
    hideProjectTab: true
    themeColor: "Pink"
  "spell-check":
    addKnownWords: true
    knownWords: [
      "Halpern"
      "homotopy"
      "PLDG"
      "frisbee"
      "pomodoro"
      "Where'd"
      "todo"
      "linearization"
      "Fibrations"
      "groupoids"
      "typecheck"
      "embeddings"
      "morphism"
      "posets"
      "categorification"
      "morphisms"
      "bifibrant"
      "naturality"
      "functoriality"
      "topos"
      "abelianization"
      "subobject"
      "functors"
      "subobjects"
      "interlingua"
      "simplicial"
      "gamification"
      "categorified"
      "hoc"
      "maximizers"
      "LaTeX"
      "JetBrains"
      "TeX."
      "TeX"
      "cson"
      "PDGs"
      "ODEs"
      "Substochasticity"
      "anonymized"
      "independences"
      "Modularity"
    ]
  "split-diff":
    ignoreWhitespace: true
  tabs:
    enableMruTabSwitching: false
  tasks: {}
  "tree-ignore": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearMultipleCursorsOnEscapeInsertMode: true
    confirmThresholdOnOccurrenceOperation: 1000
    defaultScrollRowsOnMiniScroll: 3
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 200
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 100
    smoothScrollOnMiniScroll: true
    smoothScrollOnMiniScrollDuration: 30
    smoothScrollOnRedrawCursorLine: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
".beamer.latex.tex.text":
  editor:
    preferredLineLength: 90
    showIndentGuide: true
    showInvisibles: false
    softWrapHangingIndent: 4
    tabLength: 2
    tabType: "hard"
".html.text.twig":
  editor:
    tabLength: 2
".knitr.latex.tex.text":
  editor:
    preferredLineLength: 90
    softWrapHangingIndent: 2
    tabLength: 4
".latex.memoir.tex.text":
  editor:
    preferredLineLength: 90
    softWrapHangingIndent: 2
    tabLength: 4
".latex.tex.text":
  editor:
    lineHeight: 1.3
    preferredLineLength: 90
    softWrapHangingIndent: 2
    tabLength: 4
".latex.tex.text.tikz":
  editor:
    preferredLineLength: 90
    softWrapHangingIndent: 2
    tabLength: 4
".tex.text":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
".tex.text:not(.beamer)":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
