[
  {
    title: "CHAI"
    group: "record"
    paths: [
      "/home/oli/Research/interpreting-rewards"
    ]
    icon: "icon-person"
    color: "#CA3CCA"
    settings:
      "editor.tabLength": 4
      core:
        themes: [
          "one-light-ui"
          "one-light-syntax"
        ]
  }
  {
    title: "Org"
    group: "record"
    paths: [
      "/home/oli/org"
      "/home/oli/Websites/csgo"
    ]
    icon: "icon-book"
    color: "#CCCCCC"
    settings:
      "editor.tabLength": 4
      core:
        themes: [
          "one-light-ui"
          "one-light-syntax"
        ]
  }
  {
    title: "PDG-code"
    group: "research"
    paths: [
      "/home/oli/Research/pdg"
      "/home/oli/Research/Joe/agent-goals/code"
    ]
    icon: "icon-tools"
    color: "white"
    settings:
      "editor.tabLength": 4
      "editor.showInvisibles": true
      core:
        themes: [
          "atom-material-ui"
          "atom-material-syntax"
        ]
      "atom-material-ui":
        colors:
          predefinedColor: "Indigo"
        tabs:
          tintedTabBar: true
        ui:
          panelContrast: true
  }
  {
    title: "PDG Writing"
    group: "research"
    paths: [
      "/home/oli/Research/Joe/agent-goals/writing"
      "/home/oli/Research/Joe/agent-goals/present"
    ]
    color: "orange"
    settings:
      "editor.tabLength": 2
      "editor.lineHeight": 1.45
      "editor.showInvisibles": false
      core:
        themes: [
          "one-dark-ui"
          "one-dark-syntax"
        ]
  }
  {
    title: "PDG Manual"
    group: "research"
    paths: [
      "/home/oli/Research/Joe/agent-goals/writing/consolidated"
    ]
    icon: "icon-chevron-left"
    color: "white"
    settings:
      "editor.tabLength": 4
      core:
        themes: [
          "one-dark-ui"
          "atom-dark-syntax"
        ]
  }
  {
    title: "Loom"
    group: "tools"
    paths: [
      "/home/oli/Research/loom"
    ]
    icon: "icon-socks"
    color: "#CACAFF"
  }
  {
    title: "Project Manager"
    group: "tools"
    paths: [
      "/home/oli/.atom/packages/project-manager"
    ]
    icon: "icon-chevron-down"
    color: "light-blue"
    settings:
      "editor.showInvisibles": true
      "editor.showLineNumbers": true
      "editor.lineHeight": 1.5
      core:
        themes: [
          "one-light-ui"
          "atom-light-syntax"
        ]
    devMode: true
  }
]
